.about-wrapper {
	max-width: 1200px;
	margin: 0 auto;
}
.about-header {
	.info-header-block {
		width: 100%;
		display: block;
		float: right;
	}

	.bkg-info {
		background: #02bfdd;
	}
	.txt-info {
		color: #02bfdd;
	}
}
// .position-relative {
// }

.about-header-description-top {
	margin-top: 0;
	padding-left: 10%;
	p {
		font-size: 25px;
	}
	h1 {
		font-weight: 700;
		line-height: 35px;
		font-size: 40px;
	}
}
.faster {
	padding: 1.2em 0 1.5em 10%;
	p {
		color: #ffffff;
		font-size: 40px;
		font-weight: 700;
	}
}
.robot-holder {
	position: absolute;
	top: -1%;
	z-index: 1;
	left: 50%;
	height: 110%;
	transform: translate(-50%);
	img {
		height: 100%;
	}
}

// .about-header-description-top-inner {
// }
// .about-header-description-top-inner-item {
// }
.inner-content {
	display: flex;
	padding-left: 27%;
	.img-holder {
		width: 50px;
		display: grid;
		align-content: center;
		align-items: center;
	}
}
.header-text-item {
	color: #000000;
	font-size: 20px;
	font-weight: 700;
	margin: 0 0 .4em 0;
	line-height: 1.4em;
}

.tender-form {
	z-index: 99;
	background: #e2f3f7;
	h2 {
		width: 344px;
		height: 52px;
		font-size: 24px;
		font-weight: 700;
	}
	.small {
		font-size: 15px;
		margin-top: 2.3em;
	}
	.form-group {
		.form-control {
			height: 2.8em;
			margin-bottom: .6em;
		}
		.btn {
			margin-top: .3em;
			padding: .6em 3em;
		}
	}
}
.big-num-item {
	width: 100%;
	margin-left: -.5em;
	display: grid;
	grid-gap: .5em;
}
.big-num {
	padding-bottom: 1.1em;
	height: 1em;
	color: #02bfdd;
	font-size: 70px;
	font-weight: 700;
	line-height: 63.25px;
	border-bottom: 1px solid #d7eef3;
}
.min {
	font-size: .3em;
}
.num-disc {
	font-size: 15px;
	font-weight: 500;
}

@media (max-width: 1200px) {
	.about-header-description-top {
		padding-left: 0;
	}
	.robot-holder {
		display: none;
	}
	.about-header {
		.info-header-block {
			width: 100%;
		}
		.header-description {
			padding: 0;
		}
	}
	.inner-content {
		display: flex;
		padding-left: 1em;
	}
	.header-text-item {
		padding-right: .5em;
	}
}

// @media (max-width: 1100px) {
// 	.about-header-description-top {
// 	}
// }

// @media (max-width: 1023px) {
// 	.about-header {
// 	}
// 	.robot-holder {
// 	}
// }
@media (max-width: 768px) {
	.big-num-block {
		text-align: center;
	}
	.big-num-item {
		margin-left: 0;
	}
	.about-header-description-top {
		margin-top: -.5em;
	}
	// .block-wrap {
	// 	span,
	// 	.min {
	// 	}
	// 	.min {
	// 	}
	// }
	.faster {
		padding: 1.2em .5em 1.5em .5em;
	}
	// 	.about-header-description-top {
	// 	}
	// 	.d-lg-inline-block {
	// 	}
	// 	.header-description {
	// 	}
	// 	.info-header-block {
	// 	}
	// 	.big-num-item {
	// 	}
	// 	.about-header-description-top-inner {
	// 		.pl {
	// 		}
	// 	}
}
