.move-to-top {
  position: fixed;
  bottom: .3em;
  right: .3em;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 3em;
  transform: rotate(90deg);
  border: none;
  background: rgba(2, 192, 221, 0.3);
  color: rgba(255, 255, 255, 1);
  z-index: 999;

  &:hover {
    transition: .3s;
    background: none;
    color: #02BFDD;
    background-color: #fff;
    box-shadow: 0 0 5px 5px rgba(238, 238, 238, 0.658);
  }
  span {
    font-weight: 700;
    width: fit-content;
    transform: translate(-50%, -55%);
    position: absolute;
    top: 50%;
    left: 50%;
  }
}