nav {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	.mobilBar {
		display: none;
		cursor: pointer;
		span {
			display: block;
			width: 100%;
			margin: 8px 0;
			border: 1px solid #17a2b8;
			transition: all 0.4s;
		}
		@media screen and (max-width: 768px) {
			float: right;
			position: fixed;
			z-index: 999;
			height: 4.5em;
			width: 4.5em;
			top: 5em;
			right: 0;
			transform: translateY(-110%);
			z-index: 1000;
			display: block;
		}
	}
	.openNav {
		span {
			&:first-child {
				opacity: 0;
			}
			&:nth-child(2) {
				transform: rotate(46deg);
			}
			&:last-child {
				transform: rotate(-45deg) translate(6px, -8px);
			}
		}
	}
	.showNav {
		right: 0 !important;
	}
	ul {
		display: flex;
		justify-content: flex-end;
		list-style: none;
		@media screen and (max-width: 1999px) {
			justify-content: center;
			margin: 10px 0;
		}
		@media screen and (max-width: 768px) {
			position: fixed;
			padding: 3.5em 0 1em 0;
			transform: translate(0, -10%);
			width: 100%;
			background: #e2f3f7;
			z-index: 100;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			right: -200%;
			transition: all 0.5s;
			box-shadow: -20px 0 30px rgba(0, 0, 0, 0.612);
			top: -10px;
		}

		li {
			margin: 0 0 2em 0;
			border-bottom: 2px solid #d9f1f5;
			padding: 1em 0;
			transition: .3s;
			@media screen and (max-width: 768px) {
				padding: .3em;
			}
			&:hover {
				border-bottom: 2px solid #17a2b8;
				.list-item {
					font-weight: 700;
					transition: .3s;
					display: inline-block;
				}
			}
			.list-item {
				font-weight: 400;
				color: #000;
				padding: 0 1em;
				text-decoration: none;
				cursor: pointer;
				@media screen and (max-width: 768px) {
					width: 100%;
					text-align: center;
					display: block;
					font-size: 2em;
					color: #17a2b8;
				}
			}
			@media screen and (max-width: 768px) {
				margin: 0;
			}
		}
	}
}

.ham {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 400ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.hamRotate.active {
	transform: rotate(45deg);
}
@media (max-width: 767px) {
	.header {
		ul li .list-item {
			font-size: 1.4em;
		}
	}
	.hamRotate.active {
		transform: rotate(45deg) translate(3em, 3em);
	}
}

.hamRotate180.active {
	transform: rotate(180deg);
}
.line {
	fill: none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke: #17a2b8;
	stroke-width: 5.5;
	stroke-linecap: round;
}
.ham1 .top {
	stroke-dasharray: 40 139;
}
.ham1 .bottom {
	stroke-dasharray: 40 180;
}
.ham1.active .top {
	stroke-dashoffset: -98px;
}
.ham1.active .bottom {
	stroke-dashoffset: -138px;
}
.ham2 .top {
	stroke-dasharray: 40 121;
}
.ham2 .bottom {
	stroke-dasharray: 40 121;
}
.ham2.active .top {
	stroke-dashoffset: -102px;
}
.ham2.active .bottom {
	stroke-dashoffset: -102px;
}
.ham3 .top {
	stroke-dasharray: 40 130;
}
.ham3 .middle {
	stroke-dasharray: 40 140;
}
.ham3 .bottom {
	stroke-dasharray: 40 205;
}
.ham3.active .top {
	stroke-dasharray: 75 130;
	stroke-dashoffset: -63px;
}
.ham3.active .middle {
	stroke-dashoffset: -102px;
}
.ham3.active .bottom {
	stroke-dasharray: 110 205;
	stroke-dashoffset: -86px;
}
.ham4 .top {
	stroke-dasharray: 40 121;
}
.ham4 .bottom {
	stroke-dasharray: 40 121;
}
.ham4.active .top {
	stroke-dashoffset: -68px;
}
.ham4.active .bottom {
	stroke-dashoffset: -68px;
}
.ham5 .top {
	stroke-dasharray: 40 82;
}
.ham5 .bottom {
	stroke-dasharray: 40 82;
}
.ham5.active .top {
	stroke-dasharray: 14 82;
	stroke-dashoffset: -72px;
}
.ham5.active .bottom {
	stroke-dasharray: 14 82;
	stroke-dashoffset: -72px;
}
.ham6 .top {
	stroke-dasharray: 40 172;
}
.ham6 .middle {
	stroke-dasharray: 40 111;
}
.ham6 .bottom {
	stroke-dasharray: 40 172;
}
.ham6.active .top {
	stroke-dashoffset: -132px;
}
.ham6.active .middle {
	stroke-dashoffset: -71px;
}
.ham6.active .bottom {
	stroke-dashoffset: -132px;
}
.ham7 .top {
	stroke-dasharray: 40 82;
}
.ham7 .middle {
	stroke-dasharray: 40 111;
}
.ham7 .bottom {
	stroke-dasharray: 40 161;
}
.ham7.active .top {
	stroke-dasharray: 17 82;
	stroke-dashoffset: -62px;
}
.ham7.active .middle {
	stroke-dashoffset: 23px;
}
.ham7.active .bottom {
	stroke-dashoffset: -83px;
}
.ham8 .top {
	stroke-dasharray: 40 160;
}
.ham8 .middle {
	stroke-dasharray: 40 142;
	transform-origin: 50%;
	transition: transform 400ms;
}
.ham8 .bottom {
	stroke-dasharray: 40 85;
	transform-origin: 50%;
	transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
	stroke-dashoffset: -64px;
}
.ham8.active .middle {
	//stroke-dashoffset: -20px;
	transform: rotate(90deg);
}
.ham8.active .bottom {
	stroke-dashoffset: -64px;
}

header {
	.mobile-sign-head {
		display: none;
	}
	.navbar-brand {
		.site-head {
			font-size: 3em;
		}
		display: flex;
		justify-content: center;

		.header-logo-prozorro {
			height: 3em;
		}
	}
}

@media (max-width: 1100px) {
	header {
		.navbar-brand {
			.site-head {
				font-size: 2.5em;
			}
			.header-logo-prozorro {
				height: 2.5em;
				margin-right: 2.5em;
			}
		}
	}
}
@media (max-width: 430px) {
	header {
		.mobile-sign-head {
			font-size: .9em;
		 }
	}
}
@media (max-width: 395px) {
	header {
		.mobile-sign-head {
			font-size: .8em;
		 }
	}
}
@media (max-width: 340px) {
	header {
		.mobile-sign-head {
			font-size: .7em;
		 }
	}
}
@media (max-width: 768px) {
	header {
		.mobile-sign-head {
			color: #17a2b8 !important;
			text-transform: uppercase !important;
			font-weight: 900 !important;
			display: block;
			padding-top: .2em;
			text-align: center;
			width: calc(100% - 1.9em);
		}
		.navbar-brand {
			.site-head {
				display: none;
			}
			.header-logo-prozorro {
				display: none;
			}
		}
	}
}
