.Modal {
  &_root {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    box-shadow: 0 .1rem .5rem #02bfdd;
    min-width: 20em;
  }

  &_header {
    display: flex;
    align-items: center;
    align-content: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    border-bottom: 0;

    span {
      user-select: none;
    }
  }

  &_closeBtn {
    background-color: #fff;
    border-color: #fff;
    font-weight: 900;
    color: #333;
    margin-left: 2em;
    cursor: pointer;
    transition: .3s;

    &:hover {
      color: #000;
      transform: scale(1.2);
    }
  }

  &_footer {
    border-top: 0;
    padding-top: 0;
    display: flex;
    justify-content: center;
  }
}

