.contacts-block {
	background: #e2f3f7;

	.contacts-block-inner {
		max-width: 1200px;
		margin: 0 auto;
	}

	.txt-info {
		color: #02bfdd;
	}
	.form-group {
		.btn {
			background: #02bfdd;
		}
	}
}
