.contacts-block {
	background: #e2f3f7;

	.contacts-block-inner {
		max-width: 1200px;
		margin: 0 auto;
		h2, p {
			user-select: none;
		}
	}

	.txt-info {
		color: #02bfdd;
	}
	.form-group {
		.send-btn {

		}
		.name-input {
			float: right;
		}
		.phone-input {
			margin: 0 auto;
		}
		.form-control {
			max-width: 15em;
			background: none;
			border-color: #fff;
			height: 2.5em;
		}
		.btn {
			background: #02bfdd;
		}
	}
}

@media (max-width: 767px) {
	.contacts-block {
		.contacts-block-inner {
		}
	
		.txt-info {
		}
		.form-group {
			.send-btn {
				margin: 0 auto;
			}
			.name-input {
				float: none;
				margin: 0 auto;
				max-width: auto;
			}
			.phone-input {
				margin: 0 auto;
				max-width: auto;
			}
		}
	}
}